In [34]:
import pandas as pd
from sqlalchemy import create_engine

In [35]:
data = pd.read_csv("data/dxy/20200125-225300-dxy-2019ncov-data.csv",delimiter=("|"),skiprows=2)

In [36]:
data.head()

     # place  confirmed_cases  deaths notes  sources
0      Hubei              730      39   NaN      NaN
1  Guangdong               78       0   NaN      NaN
2   Zhejiang               62       0   NaN      NaN
3  Chongqing               57       0   NaN      NaN
4      Hunan               43       0   NaN      NaN

In [37]:
data["date"] = "20200125"

In [39]:
data

           # place  confirmed_cases  deaths          notes  sources      date
0            Hubei              730      39            NaN      NaN  20200125
1        Guangdong               78       0            NaN      NaN  20200125
2         Zhejiang               62       0            NaN      NaN  20200125
3        Chongqing               57       0            NaN      NaN  20200125
4            Hunan               43       0            NaN      NaN  20200125
5          Beijing               41       0            NaN      NaN  20200125
6            Anhui               39       0            NaN      NaN  20200125
7         Shanghai               33       0            NaN      NaN  20200125
8            Henan               32       0            NaN      NaN  20200125
9          Sichuan               28       0            NaN      NaN  20200125
10        Shandong               27       0            NaN      NaN  20200125
11         Guangxi               23       0            NaN      NaN  20200125
12          Hainan               19       0            NaN      NaN  20200125
13         Jiangxi               18       0            NaN      NaN  20200125
14          Fujian               18       0  福建地区新增疑似 20 例      NaN  20200125
15         Jiangsu               18       0            NaN      NaN  20200125
16        Liaoning               16       0            NaN      NaN  20200125
17         Shaanxi               15       0            NaN      NaN  20200125
18          Yunnan               11       0            NaN      NaN  20200125
19         Tianjin               10       0            NaN      NaN  20200125
20    Heilongjiang                9       1            NaN      NaN  20200125
21           Hebei                8       1            NaN      NaN  20200125
22  Inner Mongolia                7       0            NaN      NaN  20200125
23          Shanxi                6       0            NaN      NaN  20200125
24       Hong Kong                5       0            NaN      NaN  20200125
25         Guizhou                4       0            NaN      NaN  20200125
26           Jilin                4       0            NaN      NaN  20200125
27           Gansu                4       0            NaN      NaN  20200125
28         Ningxia                3       0            NaN      NaN  20200125
29          Taiwan                3       0            NaN      NaN  20200125
30        Xinjiang                3       0            NaN      NaN  20200125
31           Macau                2       0            NaN      NaN  20200125
32         Qinghai                1       0            NaN      NaN  20200125
33     CHINA TOTAL             1377      41            NaN      NaN  20200125

In [40]:
data=data.drop(["sources"],axis=1)

In [34]:
engine = create_engine('sqlite:///my_lite_store.db')
data.to_sql('China', engine, index=False,if_exists='replace')

In [35]:
df = pd.read_sql_query('SELECT * FROM China',engine)
df.head()

     # place  confirmed_cases  deaths      date
0      Hubei              730      39  20200125
1  Guangdong               78       0  20200125
2   Zhejiang               62       0  20200125
3  Chongqing               57       0  20200125
4      Hunan               43       0  20200125

In [44]:
data2 = pd.read_csv("data/dxy/20200126-125300-dxy-2019ncov-data.csv",delimiter=("|"),skiprows=2)

In [45]:
data2

,# place,confirmed_cases,deaths,notes,sources
0,Hubei,1052,52,NaN,NaN
1,Zhejiang,104,0,NaN,NaN
2,Guangdong,98,0,NaN,NaN
3,Henan,83,1,NaN,NaN
4,Chongqing,75,0,NaN,NaN
5,Hunan,69,0,NaN,NaN
6,Anhui,60,0,NaN,NaN
7,Beijing,54,0,NaN,NaN
8,Sichuan,44,0,NaN,NaN
9,Shanghai,40,1,NaN,NaN
10,Shandong,39,0,NaN,NaN
11,Jiangxi,36,0,NaN,NaN
12,Guangxi,33,0,NaN,NaN
13,Jiangsu,31,0,NaN,NaN
14,Hainan,22,0,NaN,NaN
15,Shaanxi,22,0,NaN,NaN
16,Liaoning,19,0,NaN,NaN
17,Fujian,18,0,福建地区新增疑似 20 例,NaN
18,Heilongjiang,15,1,NaN,NaN
19,Tianjin,13,0,NaN,NaN
20,Hebei,13,1,NaN,NaN
21,Yunnan,11,0,NaN,NaN
22,Shanxi,9,0,NaN,NaN
23,Inner Mongolia,7,0,NaN,NaN
24,Gansu,7,0,NaN,NaN
25,Guizhou,5,0,NaN,NaN
26,Hong Kong,5,0,NaN,NaN
27,Macau,5,0,NaN,NaN
28,Ningxia,4,0,NaN,NaN
29,Jilin,4,0,NaN,NaN
30,Xinjiang,4,0,NaN,NaN
31,Taiwan,3,0,NaN,NaN
32,Qinghai,1,0,NaN,NaN
33,CHINA TOTAL,0105210498837569605444403936333122221918151313...,05200100000100000000101000000000000,NaN,NaN

In [ ]:
data3 = pd.read_csv("data/dxy/20200126-125300-dxy-2019ncov-data.csv",delimiter=("|"),skiprows=2)